@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2");
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2");
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2");
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2");
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  src: url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  src: url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
*, *::before, *::after {
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap; }

.clearfix::after {
  clear: both;
  content: "";
  display: block; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none;
  color: #000; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

input, textarea {
  outline: none; }

textarea {
  resize: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }

.section {
  height: 100vh;
  min-height: 40.625rem; }
  .section__title {
    font-size: 4.5rem;
    line-height: 4rem;
    font-family: "Gagalin", Arial, sans-serif;
    font-weight: 400;
    color: #f9b43b;
    margin-bottom: 1.25rem; }
    .section__title_gray {
      color: #2f3234; }
    .section__title_margin-bottom {
      margin-bottom: 3.75rem; }
    .section__title_absolute {
      position: absolute;
      top: 6.875rem;
      left: 6.25rem; }
    .section__title_white {
      color: #fff; }
      @media screen and (max-width: 480px) {
        .section__title_white {
          z-index: -1; } }
    .section__title_center {
      text-align: center; }

.order-btn {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  min-width: 6.125rem;
  padding: 0.5rem 1.0625rem;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
  display: block; }
  .order-btn:hover {
    background-color: #ce401a; }
  .order-btn_gray {
    width: 110px;
    background-color: #2f3234;
    color: #fff;
    text-align: center; }
    .order-btn_gray:hover {
      background-color: #232527; }
    .order-btn_gray::before {
      content: "Подробнее";
      display: block; }
      @media screen and (max-width: 480px) {
        .order-btn_gray::before {
          content: "Читать отзыв";
          white-space: nowrap; } }
  .order-btn_reset {
    background: transparent;
    border: none;
    text-transform: capitalize;
    font-weight: 300; }
    .order-btn_reset:hover {
      background: transparent; }

.pagination {
  position: fixed;
  top: 5.625rem;
  right: 4%;
  z-index: 100; }
  .pagination__item {
    position: relative;
    margin-top: 0.4375rem;
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%; }
    .pagination__item:hover, .pagination__item_active {
      border-color: #fff; }
  .pagination__link {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%); }
    .pagination__link::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 16px;
      height: 16px;
      transform: translate(-50%, -50%); }
    .pagination__link:hover .pagination__link::before {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 1px solid #fff; }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }

.arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transition: .5s; }
  .arrow__img_left {
    transform: rotate(90deg); }
  .arrow__img_right {
    transform: rotate(-90deg); }

.footer {
  position: relative;
  width: 100%; }

.logo {
  z-index: 1000; }
  .logo__link {
    display: block; }

.nav {
  margin-right: 0.9375rem;
  margin-left: auto; }
  .nav__list {
    display: flex; }
  .nav__item {
    display: flex;
    align-items: center; }
    .nav__item:after {
      width: 5px;
      height: 5px;
      border-radius: 2.5px;
      background-color: #fff;
      content: ' ';
      margin: 0 0.75rem; }
    .nav__item:last-child:after {
      display: none; }
  .nav__item_link {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s; }
    .nav__item_link:hover {
      text-decoration: underline; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }

.hamburger {
  position: relative;
  vertical-align: middle;
  height: 1.375rem;
  align-items: center;
  margin-left: 2.1875rem;
  z-index: 1000;
  display: none; }
  .hamburger:hover .hamburger__element:nth-child(1) {
    transform: translate(-100%, -50%) translateY(-35px);
    opacity: 0; }
  .hamburger:hover .hamburger__element:nth-child(4) {
    transform: translate(-100%, -50%) translateY(35px);
    opacity: 0; }
  .hamburger:hover .hamburger__element:nth-child(2) {
    transform: translate(-100%, -50%) rotate(45deg);
    transition-delay: .2s; }
  .hamburger:hover .hamburger__element:nth-child(3) {
    transform: translate(-100%, -50%) rotate(-45deg);
    transition-delay: .2s; }
  @media screen and (max-width: 768px) {
    .hamburger:hover {
      display: flex; } }
  @media screen and (max-width: 480px) {
    .hamburger:hover {
      display: flex; } }
  .hamburger__element {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 0.1875rem;
    transform: translate(-100%, -50%);
    background: #fff;
    transition: .2s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
    .hamburger__element:nth-child(1) {
      transform: translate(-100%, -50%) translateY(-7px); }
    .hamburger__element:nth-child(4) {
      transform: translate(-100%, -50%) translateY(7px); }
  .hamburger__menu {
    background: rgba(47, 50, 52, 0.99);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transition: .2s; }
  .hamburger__list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .hamburger__item {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .hamburger__item_link {
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-family: 'Ubuntu', Helvetica, sans-serif;
      font-weight: 300;
      color: #fff; }
    .hamburger__item::after {
      width: 5px;
      height: 5px;
      border-radius: 2.5px;
      background-color: #fff;
      content: ' ';
      margin: 1.25rem 0; }
    .hamburger__item:last-child::after {
      display: none; }

.intro {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg/bg_main.jpg");
  position: relative; }
  .intro__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 0.625rem;
    position: fixed;
    top: 0;
    z-index: 101; }
  .intro__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .intro__content {
    display: flex;
    align-items: center;
    padding-bottom: 15%; }
    @media screen and (max-width: 768px) {
      .intro__content {
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      .intro__content {
        padding: 0 10%; } }
  .intro__img, .intro__desc {
    flex-basis: 50%;
    display: flex; }
  .intro__img {
    align-items: center; }
    @media screen and (max-width: 480px) {
      .intro__img {
        margin-bottom: 1.875rem; } }
    .intro__img_item {
      max-width: 100%; }
  .intro__desc {
    flex-direction: column;
    justify-content: center;
    padding-top: 7.1875rem; }
    .intro__desc_text {
      font-size: 4.0625rem;
      color: #fff;
      font-family: "Lifehack", Arial, serif;
      font-weight: 500;
      line-height: 1; }
    @media screen and (max-width: 768px) {
      .intro__desc {
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .intro__desc {
        padding-top: 0; } }

@media screen and (max-width: 768px) {
  .btn {
    margin-left: auto; } }

.about {
  background: url("../img/bg/bg_about.jpg") center center/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .about__list {
    display: flex;
    flex-wrap: wrap; }
  .about__item {
    width: 33.3%;
    text-align: center;
    align-self: baseline;
    padding: 0 0.625rem; }
    @media screen and (max-width: 480px) {
      .about__item {
        width: 100%; } }

.desc__img-item {
  height: auto;
  max-height: 5.625rem;
  max-width: 6.0625rem;
  width: inherit;
  margin-bottom: 2.5rem; }
.desc__title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: "Lifehack", Arial, serif;
  color: #2f3234;
  display: block;
  margin-bottom: 1.5625rem; }
@media screen and (max-width: 480px) {
  .desc__text {
    text-align: left;
    padding-left: 1.25rem;
    margin-bottom: 1.25rem; } }
.desc__text_content {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 300; }
@media screen and (max-width: 480px) {
  .desc {
    display: flex;
    flex-direction: row; } }

.reviews {
  display: flex; }
  .reviews__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .reviews__item {
    flex-basis: 25%; }
    @media screen and (max-width: 768px) {
      .reviews__item {
        flex-basis: 50%; } }

.review {
  height: 100%;
  position: relative; }
  .review:hover .review__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .review__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: grayscale(1); }
  .review__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    transition: .5s;
    padding: 0 1.25rem;
    background-color: rgba(20, 20, 20, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .review__content {
        align-items: center; } }
  .review__title {
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-family: "Gagalin", Arial, sans-serif;
    margin-bottom: 0.9375rem;
    color: #fff; }
    @media screen and (max-width: 480px) {
      .review__title {
        font-size: 1.5rem;
        text-align: center; } }
  .review__desc {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #fff;
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) {
      .review__desc {
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .review__desc {
        display: none; } }

.accordeon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .accordeon__content {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .accordeon__name {
    font-size: 0.875rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Gagalin", Arial, sans-serif;
    margin-bottom: 2.5rem; }
    .accordeon__name::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top: 5px solid #f9b43b;
      margin-right: 10px; }
    @media screen and (max-width: 480px) {
      .accordeon__name {
        font-size: 1.5rem; } }
  .accordeon__desc {
    display: flex;
    height: 0;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .accordeon__desc {
        flex-direction: column;
        text-align: center; } }
  .accordeon__img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
    background: center center / cover;
    margin-left: 1.25rem; }
    @media screen and (max-width: 768px) {
      .accordeon__img {
        align-self: center;
        margin-bottom: 1.25rem; } }
  .accordeon__text {
    line-height: 1.5rem;
    font-size: 14px;
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 900;
    color: #fff;
    width: 13.4375rem;
    margin-left: 1.25rem; }
    .accordeon__text_title {
      margin-bottom: 1.5625rem; }
    .accordeon__text_paragraph {
      font-weight: 300; }
  .accordeon__content_active .accordeon__name {
    color: #f9b43b; }
    .accordeon__content_active .accordeon__name::before {
      transform: rotate(180deg); }
  .accordeon__content_active .accordeon__desc {
    height: auto;
    margin-bottom: 2.5rem; }

.team {
  background: url("../img/bg/bg_team.jpg") center center/cover no-repeat;
  position: relative; }
  .team__wrapper {
    width: 50%;
    background-color: rgba(47, 50, 52, 0.93);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .team__wrapper {
        width: 100%; } }
  .team__content {
    display: flex;
    align-items: center;
    justify-content: center; }

.menu {
  background: url("../img/bg/bg_menu.jpg") center center/cover no-repeat;
  position: relative; }
  .menu__accordeon {
    display: flex;
    justify-content: flex-end;
    height: 100%; }
  .menu__content {
    display: flex;
    justify-content: flex-end; }
    .menu__content_active {
      width: auto;
      display: flex;
      z-index: 100; }
      .menu__content_active .menu__desc {
        width: 33.75rem; }
        @media screen and (max-width: 768px) {
          .menu__content_active .menu__desc {
            width: calc(100% - 5rem); } }
        @media screen and (max-width: 480px) {
          .menu__content_active .menu__desc {
            width: calc(100% - 4rem); } }
      .menu__content_active .menu__title_text {
        color: #f9b43b; }
  .menu__desc {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: rgba(47, 50, 52, 0.93);
    width: 0;
    overflow: hidden;
    transition: width 2s; }
    .menu__desc_text {
      padding: 3.75rem 1.875rem;
      min-width: 33.75rem; }
      @media screen and (max-width: 768px) {
        .menu__desc_text {
          min-width: 20rem; } }
  .menu__title {
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2.1875rem; }
    .menu__title_text {
      font-size: 2.5rem;
      line-height: 4rem;
      font-family: "Gagalin", Arial, sans-serif;
      color: #fff;
      transform: rotate(-90deg);
      white-space: nowrap;
      width: 100%; }
    @media screen and (max-width: 480px) {
      .menu__title {
        width: 4rem; } }

.map {
  background: url("../img/content/map.jpg") center center/cover no-repeat;
  position: relative; }

.form {
  background: url("../img/bg/bg_form.jpg") center center/cover no-repeat;
  display: flex; }
  .form__wrapper {
    display: flex; }
    @media screen and (max-width: 768px) {
      .form__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 10%; } }
    @media screen and (max-width: 480px) {
      .form__wrapper {
        padding: 0 5%; } }
  .form__left, .form__right {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .form__left, .form__right {
        width: 100%; } }
  .form__left {
    margin-right: 1.25rem; }
    @media screen and (max-width: 768px) {
      .form__left {
        margin-right: 0; } }
  .form__row {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    position: relative; }
  .form__block {
    flex: 1;
    margin-right: 1.25rem; }
    .form__block:last-child {
      margin-right: 0; }
    .form__block_label {
      display: flex;
      align-items: center; }
      .form__block_label input:checked ~ .form__radio::after, .form__block_label .form__checkbox::after {
        display: block; }
      .form__block_label .form__radio::after {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #e45028; }
      .form__block_label .form__checkbox::after {
        position: absolute;
        width: 5px;
        height: 10px;
        top: 2px;
        left: 5px;
        border: solid #e45028;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .form__block_label:last-child {
        margin-right: 100px; }
        @media screen and (max-width: 480px) {
          .form__block_label:last-child {
            margin-right: 0; } }
  .form__title {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #fff;
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 300;
    display: inline-flex; }
  .form__input {
    border-radius: 4px;
    padding: 0.625rem 1.25rem;
    width: 100%;
    border: 2px solid transparent; }
    .form__input_active {
      border: 2px solid #f9b43b; }
    .form__input:focus {
      border: 2px solid #f9b43b; }
  .form__hidden {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .form__radio, .form__checkbox {
    display: flex;
    height: 15px;
    width: 15px;
    background: #fff;
    color: #e45028;
    border-radius: 50%;
    margin-right: 10px;
    position: relative; }
    .form__radio::after, .form__checkbox::after {
      content: "";
      position: absolute;
      display: none; }
  .form__checkbox {
    border-radius: 0; }
  .form__textarea {
    border-radius: 4px;
    width: 100%;
    height: 110px; }
    .form__textarea:focus {
      border: 2px solid #f9b43b; }

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
.footer__item {
  margin-right: 1.25rem; }
  .footer__item:last-child {
    margin-right: 0; }
.footer__link {
  margin-right: 1.25rem; }
  .footer__link:last-child {
    margin-right: 0; }
.footer__icons {
  fill: #595959;
  max-width: 1.25rem;
  width: 100%;
  height: auto;
  vertical-align: middle; }
  .footer__icons:hover {
    fill: #fff; }
.footer__address {
  color: #fff;
  font-weight: 300; }
.footer__tel {
  color: #e45028;
  font-weight: 900; }
  .footer__tel_icon {
    fill: #e45028;
    max-width: 0.75rem;
    width: 100%;
    height: auto;
    margin-right: 0.625rem; }

.footer {
  background: url("../img/bg/bg_footer.jpg") center center/cover no-repeat; }
  .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.625rem 0; }
    @media screen and (max-width: 480px) {
      .footer__content {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
  .footer__left, .footer__right {
    width: 50%; }
    @media screen and (max-width: 480px) {
      .footer__left, .footer__right {
        width: auto; } }
  .footer__left {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: "Ubuntu", Arial, sans-serif; }

.slider {
  background: #f9b43b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -webkit-linear-gradient(left, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(to right, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  display: flex; }
  .slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; }
  .slider__content {
    display: none;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .slider__content {
        flex-direction: column;
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .slider__content {
        flex-direction: column;
        text-align: center; } }
    .slider__content_active {
      display: flex; }
  .slider__compos {
    background: #f08c33;
    border-radius: 0.25rem;
    width: 5.625rem;
    height: 5.625rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .slider__compos_text {
      font-size: 0.875rem;
      font-family: 'Gagalin', Helvetica, sans-serif;
      color: #fff; }
    .slider__compos:hover {
      background-color: #e35028; }
      .slider__compos:hover .slider__dropdown {
        opacity: 1; }
      @media screen and (max-width: 768px) {
        .slider__compos:hover .close {
          display: block; } }
      @media screen and (max-width: 480px) {
        .slider__compos:hover .close {
          display: block; } }
    .slider__compos_content {
      position: absolute;
      left: 100%;
      top: 0;
      width: 16.875rem;
      z-index: 100; }
      .slider__compos_content .close {
        display: none;
        position: absolute;
        right: 25px;
        top: 15px; }
        .slider__compos_content .close::before, .slider__compos_content .close::after {
          content: "";
          width: 1.25rem;
          height: 0.125rem;
          border-radius: 0.1875rem;
          background: rgba(227, 80, 40, 0.7);
          position: absolute; }
        .slider__compos_content .close::before {
          transform: rotate(45deg); }
        .slider__compos_content .close::after {
          transform: rotate(-45deg); }
      @media screen and (max-width: 768px) {
        .slider__compos_content {
          width: calc(380px - 15%); } }
      @media screen and (max-width: 480px) {
        .slider__compos_content {
          width: calc(300px - 15%); } }
  .slider__dropdown {
    display: flex;
    flex-direction: column;
    background: rgba(250, 250, 250, 0.9);
    border-radius: 0.25rem;
    padding: 1.25rem;
    opacity: 0;
    transition: opacity .6s; }
    .slider__dropdown_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.25rem; }
      .slider__dropdown_item:last-child {
        margin-bottom: 0; }
    @media screen and (max-width: 768px) {
      .slider__dropdown {
        padding-right: 2.5rem; } }
    @media screen and (max-width: 480px) {
      .slider__dropdown {
        padding-right: 2.5rem; } }
  .slider__kkal {
    position: absolute;
    bottom: 0;
    left: 0; }
    .slider__kkal_num, .slider__kkal_desc {
      font-size: 0.875rem;
      font-family: 'Gagalin', Helvetica, sans-serif;
      color: #f8ca90; }
    .slider__kkal_desc {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%); }
    .slider__kkal_num {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%); }
    @media screen and (max-width: 768px) {
      .slider__kkal {
        right: 0;
        top: 0;
        bottom: inherit;
        left: inherit; } }
  .slider__burger, .slider__desc {
    flex: 1;
    padding: 5rem 0; }
  @media screen and (max-width: 768px) {
    .slider__burger {
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .slider__burger {
      padding-bottom: 0; } }
  @media screen and (max-width: 768px) {
    .slider__desc {
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .slider__desc {
      padding: 0; } }
  .slider__burger_img {
    max-width: 100%; }
  .slider__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    color: #fff; }
  .slider__cost {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .slider__cost {
        justify-content: center; } }
    @media screen and (max-width: 480px) {
      .slider__cost {
        justify-content: center; } }
  .slider__price {
    font-size: 1.875rem;
    font-family: 'Gagalin', Helvetica, sans-serif;
    color: #e45028;
    margin-right: 1.875rem; }
    .slider__price_num {
      font-size: 4.5rem; }
    @media screen and (max-width: 480px) {
      .slider__price {
        white-space: nowrap; } }
  .slider__btn {
    padding-top: 25px; }

/*# sourceMappingURL=main.css.map */
