//config styles
@import 'config/_variables.scss';
@import 'config/_mixins.scss';

//layout styles
@import 'layout/_fonts.scss';
@import 'layout/_base.scss';
@import 'layout/_adjustment.scss';

//section styles
@import 'content/_intro.scss';
@import 'content/_about.scss';
@import 'content/_reviews.scss';
@import 'content/_team.scss';
@import 'content/_map.scss';
