.hamburger {
  position: relative;
  vertical-align: middle;
  height: rem(22px);
  align-items: center;
  margin-right: rem(10px);
  margin-left: rem(35px);
  z-index: 1000;
  display: none;

  &__element {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $white;
    width: rem(24px);
    height: rem(5px);
    border-radius: rem(3px);
    transform: translate(-100%, -50%);
    background: $white;
    transition: .2s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);

    &:nth-child(1) {
      transform: translate(-100%, -50%) translateY(-7px);
    }

    &:nth-child(4) {
      transform: translate(-100%, -50%) translateY(7px);
    }
  }

  &__menu {
    background: rgba(47, 50, 52, .99);
    position: fixed;
    display: none; //flex
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transition: .2s;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    &_link {
      @include font-size(24);
      @include line-height(40);
      @include ubuntu();

      color: $white;
    }

    &::after {
      width: 5px;
      height: 5px;
      border-radius: 2.5px;
      background-color: #fff;
      content: ' ';
      margin: rem(20px) 0;
    }

    &:last-child::after {
      display: none;
    }
  }

  @include tablet {
    display: flex;
  }

  @include phone {
    display: flex;
  }
}

.hamburger__menu {
  &.activeMenu {
    opacity: 1;
    display: flex;
  }
}

.hamburger {
  &.activeMenu {
    .hamburger__element:nth-child(1) {
      transform: translate(-100%, -50%) translateY(-35px);
      opacity: 0;
    }

    .hamburger__element:nth-child(4) {
      transform: translate(-100%, -50%) translateY(35px);
      opacity: 0;
    }

    .hamburger__element:nth-child(2) {
      transform: translate(-100%, -50%) rotate(45deg);
      transition-delay: .2s;
    }

    .hamburger__element:nth-child(3) {
      transform: translate(-100%, -50%) rotate(-45deg);
      transition-delay: .2s;
    }
  }
}