//mixins for fonts

@mixin gagalin() {
  font-family: 'Gagalin', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
font-family: 'Ubuntu', Helvetica, sans-serif;

  @if $style == light {
    font-weight: 300;
  }

  @if $style == medium {
    font-weight: 700;
  }

  @if $style == bold {
    font-weight: 900;
  }
}

@mixin lifehack() {
  font-family: 'Lifehack';
}

//mixin for font-size

@mixin font-size($sizeValue) {
  font-size: $sizeValue/16 + rem;
}

//mixin for line-height

@mixin line-height($heightValue) {
  line-height: $heightValue/16 + rem;
}

//mixin for circle

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

//mixin for background

@mixin bg() {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

//function for rem

@function rem($px) {
  @return ($px/16px) + 0rem;
}

//media

@mixin tablet {
  @media screen and (max-width: $tablet)  {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $phone)  {
    @content;
  }
}