//colors
$white: #fff;
$yellow: #f9b43b;
$orange: #e45028;
$dark-orange: #c1401e;
$gray: #2f3234;
$black: #000;

//fonts
$head-font: "Lifehack", Arial, serif;
$secondary-font: "Gagalin", Arial, sans-serif;
$main-font: "Ubuntu", Arial, sans-serif;
