//colors
$white: #fff;
$yellow: #f9b43b;
$light-orange: #eb8c38;
$orange: #e45028;
$dark-orange: #c1401e;
$light-gray: #595959;
$gray: #2f3234;
$black: #000;

//fonts
$head-font: "Lifehack", Arial, serif;
$secondary-font: "Gagalin", Arial, sans-serif;
$main-font: "Ubuntu", Arial, sans-serif;

//breakpoints
$tablet: 768px;
$phone: 480px
