.about {
  background: url("../../app/img/bg/bg_about.jpg") center center / cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 33.3%;
    text-align: center;
    align-self: baseline;
    padding: 0 rem(10px);

    @include phone {
      width: 100%;
    }
  }

}

.desc {
  &__img-item {
    height: auto;
    max-height: rem(90px);
    max-width: rem(97px);
    width: inherit;
    margin-bottom: rem(40px);
  }

  &__title {
    @include font-size(24);
    @include line-height(28);

    font-family: $head-font;
    color: $gray;
    display: block;
    margin-bottom: rem(25px);
  }

  &__text {
    @include phone {
      text-align: left;
      padding-left: rem(20px);
      margin-bottom: rem(20px);
    }
  }

  &__text_content {
    @include font-size(14);
    @include line-height(24);

    font-family: $main-font;
    font-weight: 300;
  }

  @include phone {
    display: flex;
    flex-direction: row;
  }
}