.form {
  background: url("app/img/bg/bg_form.jpg") center center / cover no-repeat;
  display: flex;

  &__wrapper {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: center;
      padding: 0 10%;;
    }

    @include phone {
      padding: 0 5%;
    }
  }

  &__left, &__right {
    width: 50%;

    @include tablet {
      width: 100%;
    }
  }

  &__right_btns {
    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    margin-right: rem(20px);

    @include tablet {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: rem(20px);
    position: relative;
  }

  &__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    &_label {
      display: flex;
      align-items: center;

      input:checked ~ .form__radio::after {
        display: block;
      }

      input:checked ~ .form__checkbox::after {
        display: block;
      }


      .form__radio::after {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $orange;
      }

      .form__checkbox::after {
        position: absolute;
        width: 5px;
        height: 10px;
        top: 2px;
        left: 5px;
        border: solid $orange;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:last-child {
        margin-right: 100px;

        @include phone {
          margin-right: 0;
        }
      }
    }
  }

  &__title {
    @include font-size(14);
    @include line-height(24);

    color: $white;
    font-family: $main-font;
    font-weight: 300;
    display: inline-flex;
    white-space: nowrap;
  }

  &__input {
    border-radius: 4px;
    padding: rem(10px) rem(20px);
    width: 100%;
    border: 2px solid transparent;

    &_active {
      border: 2px solid $yellow;
    }

    &:focus {
      border: 2px solid $yellow;
    }
  }

  &__hidden {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__radio,
  &__checkbox {
    display: flex;
    height: 15px;
    width: 15px;
    background: $white;
    color: $orange;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__checkbox {
    border-radius: 0;
  }

  &__textarea {
    border-radius: 4px;
    width: 100%;
    height: 110px;

    &:focus {
      border: 2px solid $yellow;
    }
  }
}

