@import 'content/footer/_socials.scss';

.footer {
  background: url("../img/bg/bg_footer.jpg") center center / cover no-repeat;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: rem(7px) 0;

    @include phone {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__left, &__right {
    width: 50%;

    @include phone {
      width: auto;
    }
  }

  &__left {
    @include font-size(14);
    @include line-height(24);

    font-family: $main-font;
  }
}