@import 'content/intro/_logo.scss';
@import 'content/intro/_nav.scss';
@import 'content/intro/_hamburger.scss';

.intro {
  @include bg();

  background-image: url("../img/bg/bg_main.jpg");
  position: relative;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: rem(10px);

    @include tablet {
      position: fixed;
      top: 0;
      z-index: 201;
    }

    @include phone {
      position: fixed;
      top: 0;
      z-index: 201;
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 15%;

    @include tablet {
      flex-direction: column;
      flex-grow: 0;
    }

    @include phone {
      padding: 0 10%;
      flex-grow: 0;
    }
  }

  &__img, &__desc {
    flex-basis: 50%;
    display: flex;
  }

  &__img {
    align-items: center;

    @include phone {
      margin-bottom: rem(30px);
    }

    &_item {
      max-width: 100%;
    }
  }

  &__desc {
    flex-direction: column;
    justify-content: center;
    padding-top: rem(115px);

    &_text {
      @include font-size(65);

      color: $white;
      font-family: $head-font;
      font-weight: 500;
      line-height: 1;
    }

    @include tablet {
      text-align: center;
    }

    @include phone {
      padding-top: 0;
    }
  }
}

.btn {
  @include tablet {
    margin-left: auto;
  }
}
