.intro {
  @include bg();

  background-image: url("../img/bg_main.jpg");
  position: relative;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: rem(10px);
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 15%;

    @include tablet {
      flex-direction: column;
    }

    @include phone {
      padding: 0 10%;
    }
  }

  &__img, &__desc {
    flex-basis: 50%;
    display: flex;
  }

  &__img {
    align-items: center;

    @include phone {
      margin-bottom: rem(30px);
    }

    &_item {
      max-width: 100%;
    }
  }

  &__desc {
    flex-direction: column;
    justify-content: center;
    padding-top: rem(115px);

    &_text {
      @include font-size(65);

      color: $white;
      font-family: $head-font;
      font-weight: 500;
      line-height: 1;
    }

    @include tablet {
      text-align: center;
    }

    @include phone {
      padding-top: 0;
    }
  }
}

.logo {
  &__link {
    display: block;
  }
}

.nav {
  margin-right: rem(15px);
  margin-left: auto;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &:after {
      @include circle(5px, $white);

      content: ' ';
      margin: 0 rem(12px);
    }

    &:last-child:after {
      display: none;
    }
  }

  &__item_link {
    @include font-size(13);
    @include line-height(20);

    color: $white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;

    &:hover {
      text-decoration: underline;
    }
  }

  @include tablet {
    display: none;
  }
}

.btn {
  @include tablet {
    margin-left: auto;
  }
}

.hamburger-menu {
  position: relative;
  vertical-align: middle;
  height: rem(22px);
  align-items: center;
  margin-left: rem(30px);
  display: none;

  @include tablet {
    display: flex;
  }

  &__link {
    &, &::before, &::after {
      background: $white;
      width: rem(24px);
      height: rem(5px);
      border-radius: rem(3px);
    }

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

