@font-face {
  font-family: 'Ubuntu';
  src: url('../../app/fonts/ubuntu-b-webfont.woff2') format('woff2');
  src: url('../../app/fonts/ubuntu-b-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../app/fonts/ubuntu-light-webfont.woff2') format('woff2');
  src: url('../../app/fonts/ubuntu-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../app/fonts/ubuntu-medium-webfont.woff2') format('woff2');
  src: url('../../app/fonts/ubuntu-medium-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../app/fonts/ubuntu-regular-webfont.woff2') format('woff2');
  src: url('../../app/fonts/ubuntu-regular-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url('../../app/fonts/gagalin-regular-webfont.woff2') format('woff2');
  src: url('../../app/fonts/gagalin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url('../../app/fonts/lifehack_medium-webfont.woff2') format('woff2');
  src: url('../../app/fonts/lifehack_medium-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}