.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  //overflow: hidden;
}

.container {
  width: 95%;
  max-width: rem(940px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section {
  height: 100vh;
  min-height: rem(650px);

  &__title {
    @include font-size(72);
    @include line-height(64);

    font-family: $secondary-font;
    font-weight: 400;
    color: $yellow;
    margin-bottom: rem(20px);

    &_gray {
      color: $gray;
    }

    &_margin-bottom {
      margin-bottom: rem(60px);
    }

    &_absolute {
      position: absolute;
      top: rem(110px);
      left: rem(100px);
    }

    &_white {
      color: $white;

      @include phone {
        z-index: -1;
      }
    }

    &_center {
      text-align: center;
    }

    @include phone {
      @include font-size(56);
    }
  }
}

//order-btn
.order-btn {
  @include font-size(13);
  @include line-height(20);

  min-width: rem(98px);
  padding: rem(8px) rem(17px);
  border-radius: 5px;
  background-color: $orange;
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
  display: block;

  &:hover {
    background-color: darken($orange, 7%);
  }

  &_gray {
    width: 110px;
    background-color: $gray;
    color: $white;
    text-align: center;

    &:hover {
      background-color: darken($gray, 5%);
    }

    &::before {
      content: "Подробнее";
      display: block;

      @include phone {
        content: "Читать отзыв";
        white-space: nowrap;
      }
    }
  }

  &_reset {
    background: transparent;
    border: none;
    text-transform: capitalize;
    font-weight: 300;

    &:hover {
      background: transparent;
    }
  }
}

//pagination
.pagination {
  position: fixed;
  top: rem(90px);
  right: 4%;
  z-index: 100;

  &__item {
    position: relative;
    margin-top: 0.4375rem;
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;

    &:hover, &_active {
      border-color: $white;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $white;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 16px;
      height: 16px;
      transform: translate(-50%, -50%);
    }

    &:hover .pagination__link::before {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 1px solid $white;
    }
  }

  @include tablet {
    display: none;
  }
}

//arrow
.arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transition: .5s;
  transform: translate(-50%, -50%);

  &__link {
    background: url("../img/icons/arrow.png") center center / cover no-repeat;
    display: block;
    width: rem(30px);
    height: rem(15px);

    &_left {
      transform: rotate(90deg);
    }

    &_right {
      transform: rotate(-90deg);
    }
  }
}

//footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

//popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, .92);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  &__active {
    display: flex;
  }

  &__container {
    position: relative;
  }

  &__close {
    display: flex;
    position: absolute;
    right: 30px;
    top: 20px;

    &::before,
    &::after {
      content: "";
      width: rem(20px);
      height: rem(2px);
      border-radius: rem(3px);
      background: rgba(227, 80, 40, .7);
      position: absolute;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__content {
    width: rem(460px);
    background: $white;
    border-radius: rem(4px);
    padding: rem(20px);

    @include tablet {
      padding-right: rem(40px);
    }

    @include phone {
      padding-right: rem(40px);
    }
  }

  &__title {
    @include font-size(14);
    @include line-height(28);
    @include gagalin();

    color: $gray;
    margin-bottom: rem(20px);
  }

  &__text {
    @include font-size(14);
    @include line-height(24);
    @include ubuntu(light);

    color: $gray;
  }
}