.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 0;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px;

  &__title {
    @include font-size(72);
    @include line-height(64);

    font-family: $secondary-font;
    font-weight: 400;
    color: $yellow;

    &_about {
      color: $gray;
      padding: 0;
      margin-top: 0;
      margin-bottom: 60px;
    }

    &_team {
      margin-bottom: 60px;
    }

    &_menu {
      color: $white;
      position: absolute;
      top: 110px;
      left: 100px;
    }
  }
}

//order-btn
.order-btn {
  @include font-size(13);
  @include line-height(20);

  min-width: 98px;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: $orange;
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
  display: block;

  &:hover {
    background-color: darken($orange, 7%);
  }

  &_gray {
    width: 110px;
    background-color: $gray;
    color: $white;

    &:hover {
      background-color: darken($gray, 5%);
    }
  }
}

//pagination
.pagination {
  position: fixed;
  top: 90px;
  right: 4%;
  z-index: 100;

  &__item {
    position: relative;
    margin-top: 0.4375rem;
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;

    &:hover, &_active {
      border-color: $white;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $white;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 16px;
      height: 16px;
      transform: translate(-50%, -50%);
    }

    &:hover .pagination__link::before {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 1px solid $white;
    }
  }
}